/* GENERAL CSS FOR APPS */
section.hero.text-light.text-center {
    padding-top: 0px!important;
}
.features-inner.section-inner {
    padding-top: 0px;
}
h4.feature-title.h3-mobile {
    margin-bottom: 24px;
}